.hover-this {
  background-color: red;
  .item2 {
    opacity: 0;
    transition: 2s ease-in-out;
    transform: translate(0, 50px);
  }
  &:hover {
    .item1 {
      display: none;
    }
    .item2 {
      display: block;
      transition: 1s ease-in-out;
      transform: translate(0, 100px);
      opacity: 1;
    }
  }
}
